body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f6fa;
    color: #333;
}
header {
    background-color: #005f99;
    color: white;
    padding: 20px;
    text-align: center;
}
section.about {
    background-color: rgb(231, 214, 138);
    color: rgb(196, 87, 194);
    font-size: 1.25em;
    padding: 20px;
}