*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: grey;
}
header{
    background-color: blue;
    color: white;
    text-align: center;
}
.content {
    width: 100%;
    padding: 20px 0;
}
section.biography{
    border-radius: 7px;
    background-color: white;
    padding: 20px;
    margin: 20px;
}
section.achievements{
    border-radius: 7px;
    background-color: white;
    padding: 20px;
    margin: 20px;
}
ul{
    margin-left: 40px;  
}
footer{
    background-color: blue;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
}